[project]
	description = testwebapp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abhijeetskarve10
[access "refs/for/refs/*"]
	read = group user/abhijeetskarve10
	push = group user/abhijeetskarve10
	label-Code-Review = -2..+2 group user/abhijeetskarve10
	label-Verified = -1..+1 group user/abhijeetskarve10
	rebase = group user/abhijeetskarve10
	removeReviewer = group user/abhijeetskarve10
	submit = group user/abhijeetskarve10
[access "refs/heads/*"]
	read = group user/abhijeetskarve10
	create = group user/abhijeetskarve10
	push = +force group user/abhijeetskarve10
	pushMerge = group user/abhijeetskarve10
[access "refs/tags/*"]
	push = group user/abhijeetskarve10
	push = +force group user/abhijeetskarve10
